.misEntradasContent {
	width: 90%;
	margin: auto;
	min-height: 50vh;
	max-width: 1200px;
}
.misEntradasContent > h1 {
	color: #1B4B53;
	margin-bottom: 10px;
}

.loading {
	height: 50vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.lineTitle {
	width: 300px;
	height: 1px;
	background: #1099AF;
}

/*****************************
* EntradasGroup
*****************************/
.entradaMainContent {
	text-align: left;
	padding-bottom: 30px;
	border-bottom: 1px solid #1099AF;
}

.infoEvento {
	font-size: 2rem;
	margin-bottom: 0;
}

.infoFuncion {
	margin-top: 0;
	font-size: 1.5rem;
}

.infoEntrada {
	font-size: 1.2rem;
}

.infoEntrada p:first-child {
	margin-top: 0;
}

.resumen {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: 25% 1fr;
}

.thubmnail img {
	width: 100%;
}

.botones {
	display: grid;
	grid-gap: 20px;
	align-items: center;
	grid-template-columns: repeat(3, max-content);
}

.detalleCompraEntrada {
	text-align: left;
	border-bottom: 1px solid #1099AF;
}

.textLabel {
	margin-bottom: 0;
	font-weight: bold;
	text-transform: uppercase;
}

.textValue {
	margin-top: 0;
}

@media only screen and (max-width: 991px) {
	.resumen {
		width: 100%;
		display: block;
	}

	.thubmnail {
		margin-bottom: 20px;
	}

	.thubmnail img {
		max-width: 100%;
	}

	.botones {
		grid-template-columns: max-content;
	}

	.botones button {
		min-width: 190px;
	}
}