.react-input-emoji--input {
	font-weight: 400;
	max-height: 100px;
	min-height: 20px;
	outline: none;
	overflow-x: hidden;
	overflow-y: auto;
	position: relative;
	white-space: pre-wrap;
	word-wrap: break-word;
	z-index: 1;
	width: 100%;
	user-select: text;
	padding: 9px 12px 11px;
	text-align: left;
}

.react-input-emoji--input img {
	vertical-align: middle;
	width: 18px !important;
	height: 18px !important;
	display: inline !important;
	margin-left: 1px;
	margin-right: 1px;
}

/*******************
* emoji-mart
*******************/

.emoji-mart {
	position: relative !important;
}

.emoji-mart,
.emoji-mart .emoji-mart-anchors {
	width: 100%;
	border: none;
	background: #7c4d9585;
}

.emoji-mart .emoji-mart-bar {
	border: none;
}

.emoji-mart .emoji-mart-anchor {
	color: #fff;
}

.emoji-mart-anchor:focus {
	background: transparent;
}

.emoji-mart-anchor.emoji-mart-anchor-selected {
	color: var(--second-color) !important;
}

.emoji-mart-anchor.emoji-mart-anchor-selected .emoji-mart-anchor-bar {
	background-color: var(--second-color) !important;
}

.emoji-mart-category-label > span {
	color: #fff;
	background: var(--third-color);
}

.emoji-mart-scroll::-webkit-scrollbar-track {
	background: transparent;
}

.emoji-mart-scroll::-webkit-scrollbar-thumb {
	background: var(--second-color);
}