.mainContent {
	width: 100vw;
	display: grid;
	position: relative;
	align-items: center;
}

.emojiPickerContainer {
	opacity: 0;
	display: flex;
	transition: all .3s;
	pointer-events: none;
}

.emojiPickerContainer.show{
	opacity: 1;
	pointer-events: auto;
}

.inputEmojiContainer {
	display: grid;
	padding: 15px;
	grid-gap: 15px;
	background-color: #ffffff94;
	grid-template-columns: max-content 1fr max-content;
}

.inputEmojiWrapper {
	outline: none;
	flex: 1 1 auto;
	color: #4b4b4b;
	font-size: 15px;
	font-weight: 400;
	min-height: 20px;
	line-height: 20px;
	will-change: width;
	position: relative;
	border-radius: 21px;
	background-color: #fff;
	border: 1px solid #fff;
	box-sizing: border-box;
	font-family: sans-serif;
	vertical-align: baseline;
	border: 1px solid #eaeaea;
	text-rendering: optimizeLegibility;
}

.inputEmojiButton:focus {
	background: transparent;
}

.inputEmojiButton {
	border: none;
	outline: none;
	cursor: pointer;
	box-shadow: none;
	overflow: hidden;
	background: none;
	transition: color 0.1s ease-out;
}

.inputEmojiButton svg {
	fill: #858585;
}

.inputEmojiButton.show svg {
	fill: var(--second-color);
}

.inputEmojiPlaceholder {
	top: 0;
	bottom: 0;
	opacity: 1;
	z-index: 2;
	left: 12px;
	display: flex;
	color: #a0a0a0;
	user-select: none;
	position: absolute;
	align-items: center;
	pointer-events: none;
	width: calc(100% - 22px);
	transition: opacity 0.08s linear;
}