.mainContent {
	padding-left: 250px;
}

.mainContent h4 {
	text-align: center;
}

.sidenavContent {
	width: 250px;
}

.panelContent {
	padding: 5%;
	margin: auto;
	min-height: 90vh;
	max-width: 1050px;
}

.loading {
	height: 50vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

/*************************************
* Grid Template
*************************************/
.grid {
	display: grid;
}

.gridC2 {
	grid-template-columns: 1fr 1fr;
}

.gridInputs {
	grid-gap: 15px 20px;
	margin-bottom: 30px;
}

/*************************************
* Camaras
*************************************/
.TheadListCamera {
 min-width: 120px;
 padding: 10px !important;
}

/*************************************
* addWrapper
*************************************/
.addWrapper h3 {
	text-align: center;
	text-transform: uppercase;
}

.botonera h4 {
	grid-column: 1 / -1;
}

.botonera {
	display: grid;
	grid-gap: 10px;
	margin: 20px 0;
	grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
}

.wrapperInputs {}
.textFieldInput {}

.textFieldInput:before {
	display: none;
}

/********************************
* MOBILE / TABLE
********************************/
@media only screen and (max-width: 993px) {
	.gridC2 {
		grid-template-columns: 1fr;
	}
}