.redesSocialesWrapper {
	padding-left: 50px;
}

.navigation {
	width: 100%;
	display: flex;
	justify-content: flex-end;
}

/*********************************************
* Logo
*********************************************/
.contentLogo {
	display: flex;
}

.contentLogo > a {
	margin: auto;
	display: block;
}

.logo {
	width: 180px;
	transition: var(--header-transition);
}

/*********************************************
* Estilos del Navbar
*********************************************/
.navItemBotonDefault {
	color: #fff;
	line-height: 2;
	cursor: pointer;
	font-size: 1rem;
	padding: 5px 10px;
	border: 1px solid;
	border-radius: 30px;
	text-transform: uppercase;
	transition: var(--header-transition);
}

.iconImg {
	transition: var(--header-transition);
	width: var(--header-width-icon-img-big);
}

.link {
	color: #fff;
	display: block;
	cursor: pointer;
}

.link.mobileActive {
	padding: 0 5%;
	margin-bottom: 10px !important;
}

.link > i {
	font-size: 3rem;
	padding-top: 6px;
}

/*********************************************
* Estilos cuando está el scrollTop > 100
*********************************************/
.logo.scrollActive {
	width: 130px;
}

.link.scrollActive > i {
	font-size: 2.5rem;
}

.navItemBotonDefault.scrollActive {
	font-size: 0.8rem;
}

.iconImg.scrollActive {
	width: var(--header-width-icon-img-small);
}

/*********************************************
* Mobile / Sidenav
*********************************************/
.navItemBotonDefault.mobileActive {
	margin: 0 5%;
	width: max-content;
}