.loading {
	top: 0;
	left: 0;
	width: 100%;
	color: #000;
	padding: 5%;
	display: flex;
	height: 100vh;
	position: fixed;
	background: #fff;
	z-index: 100000000;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

.loading > img {
	max-width: 300px;
}