.wrapperRegister {
	color: #000;
	background: #fff;
}

.wrapperRegister i {
	width: 2rem !important;
	top: 1.8rem !important;
	color: #1099AF !important;
	font-size: 25px !important;
}

.wrapperRegister h2 {
	color: #1B4B53;
	margin-bottom: 10px;
}

.texto {
	margin: 0;
	color: #6d6a6a;
	padding: 0 0.75rem;
}

.lineTitle {
	height: 1px;
	width: 350px;
	background: #1099AF;
}

.recaptcha > div > div {
	float: right;
	margin-right: .55rem;
}

.btnRegister {
	width: 100%;
	max-width: 304px;
	margin: 10px .55rem;
}

.checkboxWrapper {
	line-height: 2;
}

.selectRequired {
	line-height: 1;
	color: #9e9e9e;
	padding-top: 10px !important;
}

.selectRequired span:first-child {
	padding: 0 12px;
}

.selectM {
	margin: 10px 0 !important;
}

.selectM input {
	color: #999;
}

.selectM label {
 top: -35px !important;
}

.selectM ul {
	max-height: 200px;
}

.inputIcon i {
	position: absolute;
	transition: color .2s;
	top: 0.5rem !important;
	width: 3rem !important;
	font-size: 2rem !important;
}

/* mobile */
.wrapperRegister.mobile h2 {
	font-size: 1.5rem;
}

.wrapperRegister.mobile .label {
	color: #9e9e9e;
	line-height: 1;
	margin: 10px 0 0;
}

.wrapperRegister.mobile .lineTitle {
	width: 100%;
}

.inputBottom input {
	border-bottom: 1px solid #9e9e9e !important;
}

.header {
	display: grid;
	padding: 15px 0;
	align-items: center;
	grid-template-columns: 150px 1fr;
}

.previewImg {
	margin: auto;
	width: 100px;
	height: 100px;
	display: block;
	cursor: pointer;
	position: relative;
	border-radius: 50px;
	transition: all .5s;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.previewImg:hover:before {
	content: '';
	width: 100%;
	z-index: 10;
	height: 100%;
	display: block;
	position: absolute;
	background-size: 30px;
	background-color: #f9f6f638;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('/img/icons/camera.svg');
}

.profileImg .uploadAvatar {
	width: 100px;
	margin: auto;
	height: 100px;
	display: flex;
	cursor: pointer;
	border: 1px solid;
	border-radius: 50px;
	background: #cac5c5;
	align-items: center;
	border-style: dashed;
	justify-content: center;
}

.profileImg .uploadAvatar > img {
	width: 30px;
}

.btnUpload {
	margin: 10px;
}

.contentModal {
	background-color: #fff;
	padding: 16px 32px 24px;
	box-shadow:
						0px 3px 5px -1px rgba(0,0,0,0.2),
						0px 5px 8px 0px rgba(0,0,0,0.14),
						0px 1px 14px 0px rgba(0,0,0,0.12);
}

.contentModal:focus {
	outline: none;
}

.cerrarModal {
	cursor: pointer;
	margin: 20px 0 0;
	text-align: right;
	text-transform: uppercase;
}

@media only screen and (max-width: 992px) {
	.header {
		padding: 20px;
		grid-gap: 20px;
		grid-template-columns: 1fr;
	}

	.profileImg {
		order: 1;
	}
}